.intro-container {
  height: 100vh;
  background: linear-gradient(150deg, #0f172a, #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: moveUp 1s ease forwards;
  animation-delay: 2s;
}

.logo {
  opacity: 0;
  transform: scale(0.3);
  animation: zoomIn 1.2s ease forwards;
}

.logo.short {
  width: 140px;
  animation-delay: 0.2s;
}

.logo.long {
  width: 400px;
  animation-delay: 0.6s;
}

/* Button */
.start-btn {
  width: 300px;
  margin-top: 10px;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 999px;
  background: #142C52;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  animation: fadeIn 1s ease forwards;

}

/* Animations */
@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveUp {
  to {
    transform: translateY(-50px);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.credit-text { 
  margin-top: 50px;
  font-size: 25px;
  color: #142C52;
  letter-spacing: 0.5px;
  animation: fadeIn 1.2s ease forwards;
  font-family: Georgia;
}

.credit-text span {
  color: #001f58;
  font-weight: 600;
}
